{% extends 'bases.html' %}
{% block title_head %}
<title>Eliminar perro</title>
{% endblock title_head %}

{% block h1_header %}
Eliminar perro
{% endblock h1_header %}

{% block contenido %}
<form action= {% url 'inicio:eliminar_perro' perro.id %} method="POST" > {# POST es para guardar informacion o trabajarlas en alguna bd, en otro caso usamos GET#}
    {% csrf_token %} 
    <p> Confirma el borrado de {{perro}}? </p>
    <table>
    {{form}}
    </table>
    <button>Confirmar</button>
</form> 
{% endblock contenido %}