{% extends "bases.html" %}

{% block title_head %}
<title>Prueba</title>
{% endblock title_head %}

{% block h1_header %}
<h1>prueba</h1>
{% endblock h1_header %}

{% block contenido %}

    <h1>este es el primer template que cree</h1>
    <p>{{mensaje}}</p>
    
    {%  if segundo_redondo  %}  
    <p style="color: blue;">{{segundos}}</p>
    {% elif segundo_par %}
    <p style="color:yellow;">{{segundos}}</p>
    {% else %}
    <p style="color:black;">{{segundos}}</p>
    {%endif%}

    {% for numero in listado_de_numeros  %}
    <p>{{numero}}</p>
    {% endfor %}
  
{% endblock contenido %}
